<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('partials/head.html', { fontSize: 20, favicon: siteMeta.iconUrl }) %>
  <title><%= siteMeta.title %></title>
  <meta property="og:type" content="blog">
  <meta property="og:title" content="<%= siteMeta.title %>">
  <% if (siteMeta.description) { %>
    <meta name="description" content="<%= siteMeta.descriptionPlain %>">
    <meta property="og:description" content="<%= siteMeta.descriptionPlain %>">
  <% } %>
  <% if (siteMeta.iconUrl) { %>
    <meta property="og:image" content="<%= siteMeta.iconUrl %>">
  <% } %>
</head>

<body>
  <%- include('partials/navbar.html', { siteMeta }) %>
  <header class="Header">
    <% if (siteMeta.cover) { %>
      <div class="Header__Cover">
        <img src="<%= siteMeta.cover %>">
      </div>
    <% } %>
    <div class="Header__Spacer <% if (!siteMeta.cover) { %>Header__Spacer--NoCover<% } %>">
    </div>
    <% if (siteMeta.iconUrl) { %>
      <div class="Header__Icon">
        <span><img class="inline-img-icon" src="<%= siteMeta.iconUrl %>"></span>
      </div>
    <% } %>
    <h1 class="Header__Title"><%= siteMeta.title %></h1>
    <% if (siteMeta.description) { %>
      <div class="Header__Desc">
        <span class="Header__DescBigQuoteMark">&ldquo;</span>
        <%- siteMeta.descriptionHTML %>
        <span class="Header__DescBigQuoteMark">&bdquo;</span>
      </div>
    <% } %>
  </header>
  <%- include('partials/articleList.html', {
    pages: siteMeta.pages.filter(page => page.publish && page.inList) 
  }) %>
  <%- include('partials/footer.html', { siteMeta }) %>
</body>

</html>