<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- iOS Safari -->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
  <!-- Chrome, Firefox OS and Opera Status Bar Color -->
  <meta name="theme-color" content="#FFFFFF">
  <meta property="og:title" content="{{siteMeta.title}}">
  {{if(options.siteMeta.description.length > 0)}}
  <meta name="description" content="{{siteMeta.descriptionPlain}}">
  <meta property="og:description" content="{{siteMeta.descriptionPlain}}">
  {{/if}}
  <meta property="og:type" content="blog">
  <title>{{siteMeta.title}}</title>
  <!-- Favicon -->
  {{if(options.siteMeta.icon)}}
  <link rel="shortcut icon" href="{{siteMeta.icon}}">
  {{/if}}
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.11.1/katex.min.css">
  <link rel="stylesheet" type="text/css"
    href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.19.0/themes/prism.min.css">
  <link rel="stylesheet" type="text/css" href="css/SourceSansPro.css">
  <link rel="stylesheet" type="text/css" href="css/theme.css">
  <link rel="stylesheet" type="text/css" href="css/notablog.css">
  <style>
    :root {
      font-size: 20px;
    }
  </style>
</head>

<body>
  <nav class="Navbar">
    <a href="index.html">
      <div class="Navbar__Btn">{{siteMeta.iconHTML}} <span>Home</span></div>
    </a>
    {{each(options.siteMeta.pages)}}
    {{if(@this.publish && @this.inMenu)}}
    <span class="Navbar__Delim">&centerdot;</span>
    <a href="{{@this.url}}">
      <div class="Navbar__Btn">{{@this.iconHTML}} <span>{{@this.title}}</span></div>
    </a>
    {{/if}}
    {{/each}}
  </nav>
  <header class="Header">
    {{if(options.siteMeta.cover)}}
    <div class="Header__Cover">
      <img src="{{siteMeta.cover}}">
    </div>
    {{/if}}
    <div class="Header__Spacer {{if(!options.siteMeta.cover)}}Header__Spacer--NoCover{{/if}}">
    </div>
    {{if(options.siteMeta.icon)}}
    <div class="Header__Icon">{{siteMeta.iconHTML}}</div>
    {{/if}}
    <h1 class="Header__Title">{{siteMeta.title}}</h1>
    {{if(options.siteMeta.description)}}
    <div class="Header__Desc">
      <span class="Header__DescBigQuoteMark">&ldquo;</span>
      {{siteMeta.descriptionHTML}}
      <span class="Header__DescBigQuoteMark">&bdquo;</span>
    </div>
    {{/if}}
  </header>
  <article class="ArticleList">
      {{each(options.siteMeta.pages)}}
      {{if(@this.publish && @this.inList)}}
    <article class="Article">
      <h3 class="Article__Title">
            {{@this.iconHTML}}
        <a href="{{@this.url}}">
              {{@this.title}}
            </a>
          </h3>
      {{if(@this.descriptionHTML)}}
      <p class="Article__Desc">
          {{@this.descriptionHTML}}
      </p>
      {{/if}}
      <div class="DateTagBar">
          {{if(@this.date)}}
        <span class="DateTagBar__Item DateTagBar__Date">Posted on {{@this.dateString}}</span>
          {{/if}}
          {{each(@this.tags)}}
        <span class="DateTagBar__Item DateTagBar__Tag DateTagBar__Tag--{{@this.color}}">
            <a href="tag/{{@this.value}}.html">{{@this.value}}</a>
          </span>
          {{/each}}
        </div>
    </article>
      {{/if}}
      {{/each}}
  </article>
  <footer class="Footer">
        <div>&copy; {{siteMeta.title}} 2019</div>
        <div>&centerdot;</div>
        <div>Powered by <a href="https://github.com/dragonman225/notablog" target="_blank"
            rel="noopener noreferrer">Notablog</a>.
        </div>
    </footer>
</body>

</html>