<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- iOS Safari -->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
  <!-- Chrome, Firefox OS and Opera Status Bar Color -->
  <meta name="theme-color" content="#FFFFFF">
  <meta property="og:title" content="{{post.title}}">
  {{if(options.post.description.length > 0)}}
  <meta property="og:description" content="{{post.descriptionPlain}}">
  {{/if}}
  <meta property="og:type" content="blog">
  <title>{{post.title}}</title>
  <link rel="stylesheet" type="text/css" href="css/prism.css">
  <link rel="stylesheet" type="text/css" href="css/SourceSansPro.css">
  <link rel="stylesheet" type="text/css" href="css/layout.css">
  <link rel="stylesheet" type="text/css" href="css/notion-color.css">
  <link rel="stylesheet" type="text/css" href="css/theme.css">
  <link rel="stylesheet" type="text/css" href="css/debug.css">
  <link rel="stylesheet" type="text/css" href="css/notablog.css">
  <style>
    :root {
      font-size: 18px;
    }
  </style>
</head>

<body>
  <nav class="nav">
    <a href="index.html">
      <div class="nav-btn">{{siteMeta.iconHTML}} <span>Home</span></div>
    </a>
    {{each(options.siteMeta.pages)}}
    {{if(@this.publish && @this.inMenu)}}
    <span class="nav-breadcrumb-slash">&centerdot;</span>
    <a href="{{@this.url}}">
      <div class="nav-btn">{{@this.iconHTML}} <span>{{@this.title}}</span></div>
    </a>
    {{/if}}
    {{/each}}
  </nav>
  <div class="container">
    <div id="post-body" class="fill-h">
      {{if(options.post.cover)}}
      <div class="page-cover">
        <img src="{{post.cover}}">
      </div>
      {{/if}}
      <div id="{{post.id}}" class="page-title {{if(!options.post.cover)}}page-title--nocover{{/if}}">
        <div class="page-icon">{{post.iconHTML}}</div>
        <h1>{{post.title}}</h1>
        {{if(options.post.date || options.post.tags.length)}}
        <div class="block block--text meta">
          {{if(options.post.date)}}
          <span class="meta--date">Posted on {{post.dateString}}</span>
          {{/if}}
          {{each(options.post.tags)}}
          <span class="meta--tag {{@this.color}}">
            <a href="tag/{{@this.value}}.html">{{@this.value}}</a>
          </span>
          {{/each}}
        </div>
        {{/if}}
      </div>
      {{post.contentHTML}}
    </div>
    <footer>
      <div class="site-footer">
        <div>&copy; {{siteMeta.title}} 2019</div>
        <div>&centerdot;</div>
        <div>Powered by <a href="https://github.com/dragonman225/notablog" target="_blank"
            rel="noopener noreferrer">Notablog</a>.
        </div>
      </div>
    </footer>
  </div>
</body>

</html>