<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- iOS Safari -->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
  <!-- Chrome, Firefox OS and Opera Status Bar Color -->
  <meta name="theme-color" content="#FFFFFF">
  <meta property="og:title" content="{{post.title}}">
  {{if(options.post.description.length > 0)}}
  <meta name="description" content="{{post.descriptionPlain}}">
  <meta property="og:description" content="{{post.descriptionPlain}}">
  {{/if}}
  <meta property="og:type" content="blog">
  <title>{{post.title}}</title>
  <!-- Favicon -->
  {{if(options.siteMeta.icon)}}
  <link rel="shortcut icon" href="{{siteMeta.icon}}">
  {{/if}}
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.11.1/katex.min.css">
  <link rel="stylesheet" type="text/css"
    href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.19.0/themes/prism.min.css">
  <link rel="stylesheet" type="text/css" href="css/SourceSansPro.css">
  <link rel="stylesheet" type="text/css" href="css/notablog.css">
  <link rel="stylesheet" type="text/css" href="css/theme.css">
  <style>
    :root {
      font-size: 18px;
    }

    .DateTagBar {
      margin-top: 1.0rem;
    }
  </style>
</head>

<body>
  <nav class="Navbar">
    <a href="index.html">
      <div class="Navbar__Btn">{{siteMeta.iconHTML}} <span>Home</span></div>
    </a>
    {{each(options.siteMeta.pages)}}
    {{if(@this.publish && @this.inMenu)}}
    <span class="Navbar__Delim">&centerdot;</span>
    <a href="{{@this.url}}">
      <div class="Navbar__Btn">{{@this.iconHTML}} <span>{{@this.title}}</span></div>
    </a>
    {{/if}}
    {{/each}}
  </nav>
  <header class="Header">
      {{if(options.post.cover)}}
    <div class="Header__Cover">
        <img src="{{post.cover}}">
      </div>
      {{/if}}
    <div class="Header__Spacer {{if(!options.post.cover)}}Header__Spacer--NoCover{{/if}}">
    </div>
    {{if(options.post.icon)}}
    <div class="Header__Icon">{{post.iconHTML}}</div>
    {{/if}}
    <h1 class="Header__Title">{{post.title}}</h1>
        {{if(options.post.date || options.post.tags.length)}}
    <div class="DateTagBar">
          {{if(options.post.date)}}
      <span class="DateTagBar__Item DateTagBar__Date">Posted on {{post.dateString}}</span>
          {{/if}}
          {{each(options.post.tags)}}
      <span class="DateTagBar__Item DateTagBar__Tag DateTagBar__Tag--{{@this.color}}">
            <a href="tag/{{@this.value}}.html">{{@this.value}}</a>
          </span>
          {{/each}}
        </div>
        {{/if}}
  </header>
      {{post.contentHTML}}
  <footer class="Footer">
        <div>&copy; {{siteMeta.title}} 2019</div>
        <div>&centerdot;</div>
        <div>Powered by <a href="https://github.com/dragonman225/notablog" target="_blank"
            rel="noopener noreferrer">Notablog</a>.
        </div>
    </footer>
</body>

</html>