<nav class="Navbar">
  <a href="index.html">
    <div class="Navbar__Btn">
      <% if (siteMeta.iconUrl) { %>
        <span><img class="inline-img-icon" src="<%= siteMeta.iconUrl %>"></span>&nbsp;
      <% } %>
      <span>Home</span>
    </div>
  </a>
  <% siteMeta.pages.forEach(function(page) { %>
    <% if (page.publish && page.inMenu) { %>
      <span class="Navbar__Delim">&centerdot;</span>
      <a href="<%= page.url %>">
        <div class="Navbar__Btn">
          <% if (page.iconUrl) { %>
            <span><img class="inline-img-icon" src="<%= page.iconUrl %>"></span>&nbsp;
          <% } %>
          <span><%= page.title %></span>
        </div>
      </a>
    <% } %>
  <% }) %>
</nav>